* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.esbJQc {
  display: none !important;
}

.kuResK {
  background: transparent !important;
}

.kuResK span{
  background: transparent !important;
}